*{
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
}
.p {
    height: 500px;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.f {
    height: 150px;
    width: 50vw;
    border: 3px solid coral;
}

#firstFighter {
background-color: chocolate;
}

#secondFighter {
    background-color: gold;
}

#firstPokemon {
    background-color: aqua;
}

#secondPokemon {
    background-color: rgb(114, 137, 137);
}

.fighter {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid rgb(24, 206, 199);
    background-color: deeppink;
    margin: 5px;
}

.fighter img{
    width: 70px;
    height: 70px;
}